:root{

  font-size:16px;

  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  
  --bg-primary: #23232e;
  --bg-secondary: #141418;
;

--primary-color:  #f93f23;
  --secondary-color: #8e8e8e;




  --lightOrange: rgba(249, 63, 35,.5);
  --mainBlack: #333;
 
  --mainWhite: #f2f3ee;
  --mainTransition: all 0.5s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --success-color: #28a745;
  --info-color: #0366d6;
  --danger-color: #de3c3c;

  --areaText:#333;

  font-size:16px;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

  html, body{
  height:100vh;
  margin: 0;
  }
/*GLOBAL*/

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display:flex;
  flex-direction:column;
  background-color: var(--mainWhite);
}

a{
  text-decoration: none;
  color: var( --mainBlack);
}
button{
  border:none;
}

button:disabled {
background-color: #fff;

}
form, input, button{
  outline: none;
}
li{
  list-style:none;
}
h2{
  font-weight: 200;
}

 
.content{
 
  min-height: calc(100vh - 35px);
  margin:0 auto;
  margin-bottom: 150px;
 position:relative;
 overflow: hidden;
}

.container{
  width:95%;
  margin:0 auto;
  overflow:none;
}



.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color:  var(  --mainWhite);;
 
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--mainBlack);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* END GLOBAL */
.app-header{
 color: var(--primary-color);
 background: rgba(255, 255, 255, .85);
  box-shadow: 3px 3px 10x #888;
 }
.app-header h1{
 color: var(--primary-color);
 }



.app-header .container{
 display:flex;
  flex-direction:column;
  justify-content:center;
 }

 .app-header .container div{
  display:flex;
  justify-content:space-between;
  align-items: center;
 }

 .app-header .container > div:first-of-type {
  margin: 0;
  padding: 1rem;
}

.app-header .logo,
.app-header .form-container  {
  margin-top: 1rem;
  width: 100%;
}

.app-header .form-container form {
  display:flex;
  width:100%;
  padding: 1rem;
  border: 0;
  font-size: 1.8rem;
    overflow: hidden;
}


.app-header .form-container form input[type="text"]{
  padding:7px;
  width:100%;
  border:0;
  font-size:1.15rem;
}
.app-header .form-container form > input[type="text"]:focus {
 border-bottom: 1px solid var(--primary-color);
}

.icon-search{
  font-size: 1.5rem;
  cursor:pointer;
}
 
/*
 * ==================== NAVBAR ====================
*/

 /* NAVBAR*/

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
    box-shadow: 0 0 5px 0 #000;
background: rgba(25,25,25,.97);
  transition: width 0.5s ease-in-out;
  z-index: 1000;

}

.navbar .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 100%;
}

.navbar-nav > .nav-item {
  width: 100%;
}

.nav-link {
 
  display: flex;
  align-items: center;
  height: 5rem;

  border-bottom: 1px solid #4e4e4e;
  letter-spacing: 1.6px;

  line-height: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color:var(--mainWhite);
  filter: grayscale(100%) opacity(0.5);
  transition: all 0.5s ease-in-out;
}


.nav-link:hover {
  filter: grayscale(0) opacity(1);
  background: var(--bg-secondary);
  color: var(--primary-color);
}

.navbar:hover .link-text {
  transition: all 0.5s ease;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover svg {
  color: var(--primary-color);
}
  /* END NAVBAR*/
  



/*
 * ==================== CATEGORY CONTAINER ==========
*/

.category-container {
  text-align:center;
  text-transform: uppercase;
}
.category-container h2 {
  font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: .3px;
    padding-bottom: 2px;
}
.category-container p{
  font-size: 1rem;
    font-weight: 500;
    margin: 2rem auto 0;
 
    letter-spacing: 1.3px;
    line-height: 1.2;
   padding-bottom: 5rem;
}

/*
 * ======== END CATEGORY CONTAINER ====================
*/

/*
 * ==================== GRID CONTAINER ====================
*/
.grid-container {

  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}

.grid-container .item{
  position:relative;
   display:flex;
  flex-direction:column;
  text-align: center;
  
  box-shadow: 1px 1px 2px #ccc; 
  border-radius: 1rem;
}

.grid-container .item h3{
  font-weight: 200;
  margin:1rem;
}
.grid-container .item h4{
 margin-bottom:5px;
}

.grid-container .item p{
 font-size:14px;
  color: var(--secondary-color);
  font-weight:bold;
  margin-bottom:20px;
}

.grid-container .item img{
  width:100%;
}


.grid-container .item:hover {
  background: rgba(0, 0, 0, 0.15);
  /* background: #f93f23; */
}
.grid-container .item:hover img{
  opacity: 0.3;
}

.grid-container .recipes-link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  border: 3px solid  var(--primary-color);
  color:var(--mainBlack);
}

.grid-container .item:hover .recipes-link{
  transform: translate(-50%, -50%) scale(1);
}
.grid-container .item .recipes-link:hover{
  background-color: var(--primary-color);
}

/*
 * ==================== END GRID CONTAINER ====================
*/

/*
 * ====================  RECIPE COMPO ====================
*/
 
section .container{
  position:relative;
  display:grid;
  grid-template-columns:  1fr;
   align-items:center ;
   justify-content:center;
   padding:15px 10px;
  }

section .container.slide{
 margin-left: 250px;
 transition: all .5s ease-in-out;
  }

  section .container.recipe-container div:first-of-type{
  display:flex;
  flex-direction: column;
    }
  section .container.recipe-container div h3,
  ul.list-group-item {
margin: 2rem 0;
    }

section .container.recipe-container img{
  width: 100%;
  }

 
  section .container div:last-of-type{
    line-height: 2;
    font-size: 1.25rem;
    text-align:justify;
         }
 

button .btn-fav{
    position:absolute;
    top:0;
    right:0;
    color: rgba(0,0,0,.8);
    font-size: 2rem;
    border: none;
    cursor: pointer;
    z-index:100;
  }
button .btn-fav.active{
   color: #e82e95;
  }
/* LIST INGREDIENTS RECIPE COMPO */

ul.list-group-item li{
border:  1px solid #476b2d;
border-radius: 5px;
background-color: #fff;
display: inline-block;
color: #2d2013;
font-weight: bold;
padding: 5px;
margin: 0 5px 5px 0;
}
/* END LIST INGREDIENTS RECIPE COMPO */
/*


 * ================== RECIPE-BOX-CONTAINER ==================
*/

.recipe-box-container{
  border:1px dashed var(--secondary-color);
  
}
.recipe-box-container h2,
.recipe-box-container span{
font-weight:200;
text-align:center;
padding: 2rem 0;
}
.recipe-box-container span{
display:block;
color:var(--text-primary);
}



/*
 * ================= END RECIPE-BOX-CONTAINER ================
*/


.info-no-result{
  text-align:center;
  font-size:1.5rem;
}

/*
 * ====================  FOOTER====================
*/
.app-footer{
  background: #e4e6db;
  text-align:center;
  color:var(--mainBlack);
  padding:10px;
  font-size:14px;
height: 50px;
position:sticky;
}
/*
 * ====================  END FOOTER ====================
*/
/*
 * ====================  NOTIFICATION ====================
*/

.alert{
  padding: .75rem 1.25rem;
  text-transform: capitalize;
}

.alert-danger{
  color: var(--danger-color);
}
.alert-success{
  color: var(--success-color);

}
.alert-info{
  color: var(--info-color);

}
 /* The Modal (background) */
.modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  text-align: center;
  max-width: 400px;

  font-size: 14px;
  line-height: 20px;
  padding: 12px 24px;

}
/*
 * ====================  END NOTIFICATION ====================
*/

/*
 * ==================== MEDIA QUERIES ====================
*/

@media(min-width:835px){
  section .container{
    grid-template-columns: repeat(2,1fr)  ;
    grid-template-rows: [row] auto [row] auto ;
    grid-gap: 1rem;
    }
  
    section .container div:first-of-type{
      grid-column: col / span 2;
      grid-row: row ;
      }
  
    ul.list-group-item {
      margin:0;
      grid-column: col 3 / span 2 ;
      grid-row: row ;
    }
  
    section .container div:last-of-type{
      grid-column: col / span 4;
      grid-row: row 3;
    }
  
}
 /* browser with width greater than 768px */
@media(min-width:768px){

  .container {
    padding: 10px;
    overflow: none;
    padding:0.15rem;
}

  .app-header .container{
     flex-direction:row;
     justify-content:flex-start;
     padding:15px 10px;

    }

    .app-header .container > div:first-of-type{
     border-right: 1px solid #ccc;
     }

     .app-header .form-container {
      margin-top: 1rem;
      width: calc(100% - 300px);
  }

  .app-header .form-container form input[type="text"] {
    padding: 7px;
    width: 100%;
    border: 0;
    font-size: 1.5rem;
}

  .grid-container{
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  }
  
   .grid-container .item .img{
  width: 60px;
  }  


/* favourites component */

.grid-container .item.favourite{
  max-width: 255px;
}
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 
 .categorie-available{
  display:flex;
  position:absolute;
 }

 .categorie-available > svg {
  align-self: center;
 margin-right:.15rem;
 color:var(--primary-color);
 font-size: 1.75rem;
}


 .categorie-available span{
   font-size:.65rem;
 text-align:center;
 color: var(--mainWhite);
 }

 div[class^= "area-"] {

  box-shadow: 0 0 0.9rem rgba(0,0,0, .15);
  padding: .15rem;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  border: 1px solid #363835;
  color: #fff;
}

 
 div[class^= "area-"] svg{
  display:none;
}

 /* LANDING PAGE*/

.landpage-container{
  padding-bottom: 5rem;
  padding-top:0;
}

 .main-content{
     position: relative;
     width: 100%;
 
    }
    
    /* Position child elements relative to this element */
    .aspect-ratio-box {
      position: relative;
      width: 100%;
      max-height: calc(100vh - 150px);
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
  display: block;
  content: '';
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
}

 .main-content img{
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: hidden;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
  /* Image should match parent box size */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
 



.label {
  background-color: var( --primary-color);
  width: 100%;
  padding: 0.25rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.badge {
  display:block;
    border-radius: 50%;
    width: 78px;  
    height: 78px;
    position: absolute;
    top: -40px;
  right:-40px;

  
  display:flex;
  align-items:center;
  text-align:center;
  background-color:rgba(0,0,0, .8);
    color:#fff;
  
}


/*sm screen*/

 /* for browser width less than 320px */
@media(max-width:360px){
  .app-header .form-container form input[type="text"] {
    font-size: 1rem;
  }
  .grid-container{
    grid-template-columns: 1fr;
  }
}


/* for browser width less than 600px */
@media only screen and (max-width: 600px) {
  .app-footer {
    display:none;
    } 

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
 
  }

  .nav-item.logo {
    display: none;
  }
.nav-item{
  max-width:105px;
}
  .navbar .navbar-nav {
    flex-direction: row;
      justify-content: space-around;
  }

  .nav-link {
    flex-wrap: wrap;
    border-right: 1px solid #4e4e4e;
    text-align: center;
    align-self: center;
  }

 
  .link-text {
    font-size: 0.85rem;

  }

  .nav-link {
    justify-content: center;
  }

  .badge {
    top: 0;
    right: 0;
}
.categorie-available{
  bottom: 5rem;
 }

}

/*lg screen*/
/* for browse width more than 600px */
@media only screen and (min-width: 600px) {
  .content{
    margin-left:5rem;
  }

  .wrapper {
    margin-left: 5.75rem;
    margin-right: 0.75rem;
  }
  header{
    margin-left: 5rem;
   }

   header > div.content {
    margin-right: 5rem;
  }

  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    overflow: hidden;
   transition: all .5ms ease-in-out;
  }
  .navbar:hover {
    width: 15rem;
  }

  
  .navbar .nav-item.logo {
    transform: rotate(180deg);
    transition: rotate .15ms ease-in-out;
  }

  .navbar:hover .nav-item.logo {
    transform: rotate(0deg);
  }

  .navbar:hover .link-text {
    display: inline-block;
    transition: all 0.5s ease;
  }

  header .nav-back {
    margin-right: auto;
    margin-left: 8rem;
  }

  .label {
    background-color: var(--mainWhite);
    width: 320px;
    min-height: 180px;
    position: absolute;
    bottom: 20%;
    right: 5%;
  }

  div[class^= "area-"] {
    padding: .75rem;
    border-radius: 3px;
  }

  .categorie-available{
    bottom: 0;
   }

  .categorie-available span{
    font-size:.95rem;
  }

  .category-container h2 {
    font-size: 3.8rem;
    line-height: 3.2rem;
  }

  .category-container p {
    font-size: 1.3rem;
}
}